distribution: "ubuntu" # or "redhat"
remote_server_username: "ubuntu" # user which you log in as
provider: "aws" # or "vagrant"

# some aws-specific settings
aws_access_key_id: # aws access key
aws_secret_access_key: # aws secret access key
aws_keypair_name: # keypair name as it appears in aws console
private_key_path: # absolute local path to .pem file for private key
